WHATSAPP_TOKEN=your_whatsapp_token_here
WHATSAPP_ACCESS_TOKEN=your_whatsapp_access_token_here
PHONE_NUMBER_ID=your_phone_number_id_here
BUSINESS_ACCOUNT_ID=your_business_account_id_here
GRAPH_API_VERSION=v25.0
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=wa_saas
DB_PORT=3307
